<div class="search-block">

  <div ngbDropdown class="d-inline-block state-search">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{state}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="selectState($event.target.innerHTML)" *ngFor="let i of stateCity | keyvalue">{{i.key}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block city-search" >
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{city}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="selecCity($event.target.innerHTML)" *ngFor="let i of cityData">{{i.City}}</button>
    </div>
  </div>

  <div class="search-btn">
    <button type="button" name="button" class="btn btn-primary" (click)="searchSelected()">Search</button>
  </div>

  <div class="search-result">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe [src]="mapUrl(map_address)" width="100%" height="500"></iframe>
      </div>
    </div>
  </div>

</div>
